/***************** TAG SELECTORS *******************/
body {
    background-color: rgb(220, 245, 241);
}

hr {
    border-width: 7px;
    border-style: dotted;
    border-color: rosybrown;
    border-top: 1px;
    width: 7%;
    height: 1px;
}

/***************** CLASS SELECTORS *******************/
.public-profile:hover {
    transform: scale(1.2);
}