/***************** CLASS SELECTORS *******************/
body {
    background-color: #a5cfe8;
    margin: 0px 0px 0px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topDiv {
    height: 140px;
    text-align: center;
    padding-top: 10;
    padding-left: 20;
    background-color: #98c2da;
    position: relative;
}

.profile-pic {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 5%;
    left: 1%;
}

.profile-title{
    position: absolute;
    left: 160px;
    bottom: 30%;
}

.name {
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.pub-prof-container {
   position: absolute;
   right: 20px;
   top: 38%;
}

.public-prof {
    width: 32px;
    height: 32px;
}

.to-zoom:hover {
    transform: scale(1.2);
}

.name{
    vertical-align: left;
    margin: 0px;
}
#watermark-img {
    position: fixed;
}

.web-cartoon {

    position: fixed;
    left: 10%;
    top: 200px;
    opacity: 10%;
}